<!DOCTYPE html>
<html lang="en">
{% extends 'mark/base.html' %}
{% block nav_bottom %}
<div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="list-group col-6">
            <button type="button" class="btn btn-link">
                <a href="EnterMarks"><h4> Enter marks</h4></a></button>
        </div>
        <div class="list-group col-6">
            <button type="button" class="btn btn-link"><a href="leaderboards"><h4>View leaderboard</h4></a>
            </button>
        </div>
    </div>
</div>
{% endblock %}